.chatcontainer{
    height: calc(100vh - 74px);
    background-color: #F7F7F7;
    width: 99%;
    margin: 2px auto;
    border-radius: 40px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.messageArea{
    max-height: 700px;
    margin-left: 20px;
    width: 400px !important;
    min-height: 520px;
    justify-content: flex-end;
        transition: all 12s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
}



.chatFriends{
    padding: 30px 20px 20px 20px;
    background-color: #fff;
    border-radius: 30px;
    width: 340px;
}


.avatar{
    height: 60px;
    min-width: 60px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 80px;
}

.dialogsList{
    margin-top: 20px;

}



.dialogPrev{
    display: flex;
    background-color: #F8F8F8;
    padding: 10px 15px;
    border-radius: 18px;
    margin: 6px 0;
    align-items: center;
    
}

.digprevActive{
    background-color: #4F00CF;
    color: #fff;
}

.digprevActive .unreadedMsg{
    display: none;
}

.digprevActive .lastMtime{
    color: #fff;
}

.dialogPrev:hover{
    cursor: pointer;
}

.topData, .botData{
    display: flex;
    align-items: center;
}
.topData .inf{
    font-size: 15px;
    color: #a0a0a0;
    font-weight: 400;
}

.isOnline{
    height: 13px;
    width: 18px;
    display: block;
    background-color: #2AA200;
    border-radius: 20px;
    margin: 37px 0px -5px -13px;
}

.lastMtime{
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: #6E6E6E;
    font-size: 13px;
}

.dialogData{
    width: 100%;
    margin-left: 15px;
    
}

.dialogData h3{
    font-size: 18px;
}

.unreadedMsg{
    background-color: #4F00CF;
    color: #fff;
    padding: 2px 6px;
    font-size: 11px;
    border-radius: 100px;
    margin-left: auto;
    margin-top: 5px;
    min-width: 5px;
    text-align: center;
}

.botData p{
    margin: 7px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 210px;
    height: 24px;
    color: #515151;
    font-size: 15px;
}

.digprevActive .botData p{
color: #fff;
}

.sendmsg{
    border-top: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border-radius: 0 0 30px 30px;
    background-color: #fff;
}

 .enter {
    width: 86%;
    height: 45px;
    border-radius: 100px;
    border: 1px solid #C9C9C9;
    padding: 0 20px 0 45px;
        box-sizing: border-box;
}

.sendbtn{
    background-image: url(../../Img/sendbtn.svg);
    height: 40px;
    width: 40px;
    border: none;
    background-size: cover;
    border-radius: 300px;
    transition: all 0.3s ease
}

.sendbtn:hover{
    cursor: pointer;
    box-shadow: rgba(69, 11, 169, 0.386) 0px 8px 24px;
    transition: .2s;
}

.messageArea{
    height: 70vh;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.3s ease
}

.chatMsg{
    display: inline-block;
    background-color: #F5F5F5;
    margin: 7px 20px;
    padding: 10px 11px 11px 14px;
    border-radius: 3px 20px 20px 20px;
    max-width: 87%;
    box-sizing: border-box;
}

.chatMsg p {
    margin: 0;
    word-wrap: break-word;
}

.enemy{
color: #7c7c7c !important;
}

.sender{
    font-size: 13px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 2px !important;
}

.sendTime{
    float: right;
    font-size: 11px;
    color: #8b8b8b;
    margin-top: 3px;
}

.msgSender{
    border-radius: 20px 3px 20px 20px;
    float: right;
    background-color: #4F00CF;
    color: #fff;
    transition: all 0.3s ease;
}

.msgSender p span {
    color: #fff;
    max-width: 100%;
    word-wrap: break-word;
}

.linemsg{
    width: 100%;
    display: inline-block;
    transition: all 0.3s ease;
}


.istyping{
    color: #8f8f8f;
    font-size: 14px;
    margin: 10px 0 15px 23px;
    font-weight: 600;
}

.dialogArea{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none !important;
    transition: all 12s ease;
    margin-top: 6px;
}

.dialogArea::-webkit-scrollbar {
    display: none;
}

.opponentData{
    display: flex;
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 11px 9px 14px;
    align-items: center;
    position: absolute;
    top: 0;
    width: 94%;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: rgb(149 157 165 / 10%) 0px 8px 24px;
}


.opponentData a {
    margin-left: auto;
    color: #a0a0a0;
    font-size: 14px;
    margin-right: 9px;
}

.opponentData h3{
    margin-left: 11px;
}

.msgPhoto{
    height: 40px;
    width: 40px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 222px;
}


.onlnstaus{
    height: 10px;
    width: 10px;
    margin: -11px 0 -40px -10px !important;
}



.emptyMsg {
    background-image: url(../../Img/Groups13.svg);
    height: 390px;
    width: 362px;
    margin: 60px 0 0 110px;
    background-size: cover;
}

.noresults{
    background-image: url(../../Img/coupleee.svg);
    height: 390px;
    width: 362px;
    margin: 60px 0 0 110px;
    background-size: cover;
}

.withoutmessages{
    background-color: transparent;
  border: 1px solid #E8E8E8;
}


.flexStatus{
    display: flex;
}

.flexStatus img {
    margin: 1px 0px 0 4px;
}





@media (max-width: 1030px) {

    .enter{
        font-size: 18px;
    }

    .emptyMsg, .noresults{
        margin: 0 auto;
        height: 270px;
        width: 250px;
    }

    .chatcontainer{
        padding: 0;
        min-height: 100px !important;
        height: calc(100vh - 140px) !important;
        margin-bottom: 67px;
        }

    .chatFriends{
        width: 100%;
    }

    .openChat{
        display: none;
    }

    .messageArea{
        margin: 0;
        min-height: 100px !important;
        height: 100%;
        width: 100% !important;
        max-height: 100%;
    }
}



.emojiActive{
    display: block;
}

.imgEmoj:hover{
    cursor: pointer;
}

.emojiDisable{
    display: none;
}

.imgEmoj{
    position: absolute;
  margin-left: 13px;
}