.blockContainer{
    background-color: #fff;
    border-radius: 40px;
    min-height: calc(100vh - 80px);
    width: 99%;
    margin: auto;
    margin-top: 3px;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.attempts{
    display: inline-block;
    background-color: #95C5CE;
    padding: 14px 20px;
    border-radius: 222px;
    color: #fff;
    margin: 0px 0 30px 20px;
}


.searchContainer{
    /* width: 30%; */
    /* max-width: 360px; */
    /* padding: 30px; */
    /* border: 1px solid#E6E6E6; */
    /* border-radius: 40px; */
}



.searchContainer h3{
    margin: 5px 0px 18px 0px;
}

.searchContainer h2{
    margin-left: 20px;
}

.filterinputs{
    margin-top: 20px;
}
.filtersBox{
    width: 30%;
    max-width: 360px;
    padding: 26px;
    border: 1px solid#E6E6E6;
    border-radius: 40px;
    min-width: 350px;
}

.selectorAge{
    padding: 30px;    
    border: 1px solid;
    border-radius: 18px;
    border-color: hsl(0, 0%, 80%);
    margin-bottom: 20px;
}

.searchContainer label {
    margin-bottom: 10px;
    display: inline-block;
}

.findbtn{
    background-color: #4F00CF;
    color: #fff;
    border: none;
    font-weight: 600;
    width: 130px;
    height: 40px;
    border-radius: 222px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.cardBox{
    height: 530px;
    width: 380px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 40px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    margin-left: 30px;
}

.cardBox .info {
    color: #fff;
}
.cardnav{
    display: flex;
}


.info h1{
    margin: 0 0 3px;
    font-size: 28px;
}

.info .city{
    margin-left: 5px;
    font-size: 18px;
}

.info p{
    margin: 0;
    font-size: 16px;
}

.citySpan {
    display: flex;
    margin-top: 20px;
}



.butns button {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    border: none;
    background-repeat: no-repeat !important;
    background-color: #fff !important;
    background-position: 50% 54% !important;
    margin-left: 10px;
    transition: .2s;

}


.btn1{
    height: 60px !important;
    width: 60px !important;
}

.btn1:hover{
    cursor: pointer;
    background-color: #dddddd !important;
    transition: .2s;
}


.btn2:hover{
    cursor: pointer;
    background-color: #d9ffe1 !important;
    transition: .2s;
}



.cardDescription{
    background-color: #F7F7F7;
    border-radius: 40px;
    display: inline-block;
    padding: 30px;
    margin-left: 30px;
    max-width: 310px;
}


.blockContainer .previewImg {
    min-width: 150px;
    height: 200px;
}

.cardDescription .images{
    display: flex;
    min-width: 310px;
    justify-content: space-between;
}

.cardDescription p {
    color: #6d6d6d;
    margin-bottom: 0;
}


.gradient-overlay {
    width: 100%;
    min-height: 530px;
    border-radius: 40px;
    padding: 20px 30px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,51,61,0.871608018207283) 16%, rgba(0,212,255,0) 53%);
    display: flex;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: space-between;
  }
  



  .noresultss{
    background-image: url(../../Img/noress.svg);
    height: 400px;
        width: 312px;
        background-size: cover;
        margin: 90px 0px 0px 100px;
  }


  .rc-slider-track, .rc-slider-tracks {
    background-color: #4F00CF !important;
  }

  .rc-slider-handle{
    background-color: rgb(79, 0, 207) !important;
    border-color: rgb(79, 0, 207) !important;
    opacity: 1 !important;
    z-index: 0 !important;
  }


  .agelabel{
    box-sizing: content-box;
    font-weight: 700;
    font-size: 15px;
    margin-left: -6px;
    margin-bottom: 20px !important;
  }


  .showFiltersbtn{
    display: none;
  }

  .mobmenuContainer{
    display: none;
  }
















  @media (max-width: 1030px) {

    .noresultss{
        height: 240px !important;
        width: 190px !important;
        background-size: cover !important;
        margin: 0 auto !important;

    }

    .blockContainer{
        padding: 8px;
        width: 100%;
        overflow: hidden;
        border-radius: 18px;
        margin-bottom: 70px;
        min-height: 540px !important;
    }

    .filtersBox{
        width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    padding: 30px 20px;
    border-radius: 18px;
    }

    .searchContainer{
        width: 100%;
    }

    .searchContainer h3{
        margin: 0 0 20px 0;
        display: block;
    }

    .cardBox,  .cardDescription{
    margin:  2px 0;
    width: 100%;
    max-width: 100%;
    }

    .cardDescription{
        padding: 25px;
  border-radius: 18px;
    }
    .cardBox, .gradient-overlay{
        height: 420px;
        min-height: 420px;
        border-radius: 18px;
    }

    .filterinputs{
        display: none;
    }

    .showFiltersbtn{
        display: inline-block;
        margin: 13px 20px;
    }

    .filtervisible{
        display: block !important;
    }

    .attempts{
        margin: 10px;
    }

    .noresults{
    margin: auto;
    margin-top: auto;
    margin-top: -70px;
    }


    .mobmenuContainer{
        display: flex;
        background-color: #fff;
        justify-content: space-evenly;
        height: 65px;
        position: fixed;
        bottom: 0;
        width: 100%;
        align-items: center;
        border-radius: 18px;
        margin-bottom: 2px;
    }
  }