.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
}



header{
  background-color: #fff;
  width: 99%;
  display: flex;
  margin: 0 auto;
  height: 70px;
  border-radius: 0 0 40px 40px;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}


.leftnav{
  display: flex;
}


.leftnav nav{
  display: flex;
  align-items: center;
  margin-left: 30px !important;
  flex-direction: row;
  margin: 0;
}


.leftnav a {
  color: #191919;
  margin-right: 15px;
  font-size: 17px;
}


.headerlogo{
  height: 40px;
}

.rightnav{
  display: flex;
    margin-left: auto;
}

h3{
  margin: 0;
}


.profileimage{
      height: 45px;
    width: 45px;
    border-radius: 222px;
    object-fit: cover;
    margin-left: 11px;
    margin-left: 15px;
}

.logout{
  background: none;
  border: none;
  color: #848484;
  margin: 0;
  padding: 0;
}

.logout:hover{
  cursor: pointer;
}